.profile {
  grid-area: profile;
  background-color: #191A1D;
  border-radius: 20px;

  overflow: hidden;
}
.img {
  background-image: url("../../assets/img/react.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}