@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
body {
  background-color: #2F2F31;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
  transition: all .1s;
}
a:hover {
  color: #5458F7;
}
.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "nav cont";
  grid-template-rows: 60px 80vh;
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
  color: #fff;

  width: 1200px;
  margin: 0 auto;
}
.app-wrapper-content {
    grid-area: cont;
    background-color: #191A1D;
    border-radius: 20px;
  
    overflow: hidden;
}

